// Brand colours
$brand-yellow: #fd0;
$brand-blue: #00a;
$brand-red: #d24;
$brand-green: #0a0;

// Paths
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$webpacker-image-path: "~media/images/";