// Vendor
@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";

// App
@import "products";
@import "orders";
@import "dashboard";

// Global
body {
  padding-top: 70px;
  background-color: #ffb;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// Table format
table {
  border-collapse: collapse;

  td, th {
    border: 2px solid black;
    padding: 10px;
  }
}

nav.navbar {
  background-color: blue;
}

nav#topnav.navbar.navbar-default {
  color: #ffb;

  a, .navbar-brand, .text-danger {
    color: inherit;
  }
}