// Vendor

// Vendor CSS
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
// @import "~bootstrap/scss/bootstrap.scss";
@import "normalize"; // Couldn't get this to load from node-modules, so it was copied over

// App
@import "products";
@import "orders";
@import "dashboard";

// Variables
@import "variables";

// Global
body {
  background-color: $brand-yellow;
}

// Top Nav
nav {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: $brand-blue;
  color: $brand-yellow;
  opacity: 0.5;
  justify-content: space-around;
  align-items: center;

  span {
    width: 50%;
  }

  > a {
    margin: 1rem;
    color: inherit;
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// Table format
table {
  border-collapse: collapse;

  td,
  th {
    border: 2px solid black;
    padding: 10px;
  }
}

// nav.navbar {
//   background-color: blue;
// }

// nav#topnav.navbar.navbar-default {
//   color: #ffb;

//   a,
//   .navbar-brand,
//   .text-danger {
//     color: inherit;
//   }
// }
