// Homepage - cart component
.cart-section {
  button {
    margin: 0.5rem;
  }
}

// Cart page
.cart-show {
  background: #fff;
  color: black;

  table {
    margin: auto;
    td,
    th {
      border: 1px solid black;
    }
  }

}
