.order-show {
  background: white;
  color: black;
}

.order-summary {
  width: calc(max(800px, 80vw));
  margin: auto;
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px;

    span.title {
      font-weight: bold;
      color: purple;
    }
  }
  section {

    border: 2px solid black;
    display: flex;
    flex-direction: column;

    summary {
      float: right;
      font-size: 1.2em;
      font-weight: bold;
      color: #222;
    }

    article {
      display: flex;
      justify-content: space-around;
      align-items: center;

      > aside {
        width: 35%;

        img {
          max-width: 90%;
          max-height: 300px;
        }
      }
      > div {
        width: 60%;
      }
    }
  }
} 