<div class="placeholder"></div>
<div data-controller="hello">
  <h1 data-target="hello.output"></h1>
</div>
<h1>Welcome to Yonago!</h1>
<p>Looking for great Japanese food while you're stuck at home in a pandemic? Order takeout from Yonago!</p>
<p>Our head chef Khurram-san (or "KV") launched this in 2012, and we have since grown to selling
  all kinds of Japanese dishes!</p>
