<h1>Welcome to Jungle!</h1>
<p>Jungle is a store where you can buy and sell things to your heart's desire!</p>
<p>Our founder Khurram Virani ("KV") launched this in 2012, and we have since grown to selling
dozens of items ranging from hipster hats to electric chairs! (Please don't sue us)</p>
