<div class="about" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= asset_pack_path('media/images/castle-of-candy.jpg') %>)">
  <h1>Welcome to Yonago!</h1>
  <p>The name Yonago is a tribute to <a href="https://twitter.com/yukihiro_matz">Matz</a> (Matsumoto Yukihiro), the developer who created the Ruby language in 1995, 
    who is a native of Yonago on the western coast of Japan. Matz still lives in the area, and a Ruby conference is held in nearby Matsue every year.</p>
  <p>This is a Ruby on Rails app created by <a href="https://linkedin.com/in/sherwinkwan">Sherwin Kwan</a> to practice Ruby.
    Code for this app is available under the open-source Mozilla Public License, and is hosted on <a href="https://github.com/sherwin-kwan/yonago">
      Github</a>. It's based on a <a href="https://github.com/lighthouse-labs/jungle-rails">Rails e-commerce template</a> created by Khurram Virani.</p>
</div>

<div data-controller="hello">
  <h1>Next Steps</h1>
  <p>This webapp is continually being improved. The next step right now is to experiment with using React to add asynchronous behaviour on particular
  pages (such as the menu and purchases on the home page), as well as Stimulus.</p>
  <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
  <h1 data-target="hello.output"></h1>
</div>
