// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "orders";
@import "dashboard";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// Table format
table {
  border-collapse: collapse;

  td, th {
    border: 2px solid black;
    padding: 10px;
  }
}