<section class="products-index">


  <div class="title-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= asset_pack_path('media/images/sushi-bar.jpg') %>)">
    <%= image_pack_tag 'media/images/logo.jpg' %>
    <h1>YONAGO</h1>
    <h2>A gem of a Japanese eatery!</h2>
  </div>

  <header class="page-header" id="menu">
    <h1>Menu</h1>
  </header>
  <div class="products">
    <%= render @products %>
  </div>

</section>

<% content_for :end_of_body do %>
  <p>This is the end of body!</p>
<% end %>