<section class="products-index">
  <div class="title-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= asset_pack_path('media/images/sushi-bar.jpg') %>)">
    <%= image_pack_tag 'media/images/logo.jpg', alt: "Blue Ruby logo", title: "Yonago" %>
    <h1>YONAGO</h1>
    <h2>A gem of a Japanese eatery!</h2>
  </div>
  <%= 
  products_with_pack_urls = @products.as_json.map do |product|
    product["image_url"] = asset_pack_path("media#{product["image"]["url"]}")
    product["image_thumb_url"] = asset_pack_path("media#{product["image"]["thumb"]["url"]}")
    product["image_tiny_url"] = asset_pack_path("media#{product["image"]["tiny"]["url"]}")
    product
  end
  react_component("Base", { categories: @categories, products: products_with_pack_urls, current_cart: @cart })
   %>
</section>
