<section class="products-index">
  <div class="title-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= asset_pack_path('media/images/sushi-bar.jpg') %>)">
    <%= image_pack_tag 'media/images/logo.jpg' %>
    <h1>YONAGO</h1>
    <h2>A gem of a Japanese eatery!</h2>
  </div>
  <div class="menu-section">
    <div class="categories">
      <ul>
        <%= render partial: 'category', collection: @categories %>
      </ul>
    </div>
    <% # binding.pry %>
    <div class="menu">
      <header class="page-header" id="menu">
        <h1>Our Menu</h1>
      </header>
      <div class="products">
        <%= render partial: 'product', collection: @products %>
      </div>
    </div>
  </div>
  <button>Pay</button>
</section>
<% content_for :end_of_body do %>
  <p>(C) 2020 Sherwin Kwan. Yonago is an open source webapp - <a href="https://github.com/sherwin-kwan/yonago">see code here.</a></p>
<% end %>
